{% extends "base.html" %}

{% block content %}

<b>Import a file(Warning: will clear the database first):</b>
<form action ="/import/" method="post" enctype="multipart/form-data">
	{% csrf_token %}
    <p>
    	{% if importf %}
	        {{ form.docfile.errors }}
        {% endif %}
        {{ form.docfile }}
    </p>
   <input type="submit" value="Upload" class="btn btn-primary">
</form>

<b>Merge-import a file:</b>
<form action ="/merge/" method="post" enctype="multipart/form-data">
	{% csrf_token %}
    <p>
    	{% if mergef %}
	        {{ form.docfile.errors }}
        {% endif %}
        {{ form.docfile }}
    </p>
   <input type="submit" value="Upload" class="btn btn-primary">
</form>

<b>Clear the Database:</b>
<form action ="/cleardb/" method="post" enctype="multipart/form-data">
	{% csrf_token %}
   <input type="submit" value="Clear Database" class="btn btn-danger">
</form>

{% endblock %}